@using KnightTournament.ViewModels;
@model TrophyDetailsViewModel;

@{
    var creatingError = ViewBag.TrophyAddingError;
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Trophy_Name">Name</label>
        <input asp-for="Trophy_Name" class="form-control" placeholder="Enter Name">
    </div><br>
    <div class="form-group">
        <label asp-for="Trophy_Value">Value</label>
        <input type="number" asp-for="Trophy_Value" class="form-control" placeholder="Value">
    </div><br>
    <input type="hidden" asp-for="Trophy_RoundId" value="@Model.Trophy_RoundId"/>
    <p class="text-danger">@creatingError</p>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>