@using KnightTournament.BLL.Implementations;
@using KnightTournament.ViewModels;
@model TournamentDetailsViewModel;
@inject LocationService locationService;
@{
    var locations = (await locationService.GetAllAsync()).Data;
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Tournament_Name">Title</label>
        <input asp-for="Tournament_Name" class="form-control" placeholder="Enter title">
    </div><br>
    <div class="form-group">
        <label asp-for="Tournament_Description">Description</label>
        <textarea asp-for ="Tournament_Description" class="form-control" placeholder="Description"></textarea>
    </div><br>
    <div class="form-group">
        <label asp-for="Tournament_Scope">Scope</label>
        <input asp-for="Tournament_Scope" class="form-control" placeholder="Scope">
    </div><br> 
    <div class="form-group">
        <label asp-for="Tournament_StartDate">Start Date</label> 
        <input asp-for="Tournament_StartDate" class="form-control" placeholder="Start Date">
    </div><br>
    <div class="form-group">
        <label for="selectedEntity">Select an Entity:</label>
        <select class="form-control" asp-for="Tournament_LocationId">
            <option value="">-- Select --</option>
            @foreach (var entity in locations)
            {
                <option value="@entity.Location_Id">
                    @entity.Location_Country
                </option>
            }
        </select>
    </div>

    @if (Model.ErrorMessage is not null)
    {
        <p>@Model.ErrorMessage</p>
        <br>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
</form>