@using KnightTournament.ViewModels;
@model AppliedUsersViewModel

<div class="container mt-5">
    @foreach (var item in Model.Users)
    {
        <div class="card">
        <div class="card-body">
            <h5 class="card-title">@item.UserName</h5>
            <p class="card-text">@item.Rank</p>
            <p class="card-text">@item.Rating</p>
        </div>
    </div>
    }
    

</div>