@using KnightTournament.ViewModels;
@model CombatDetailsViewModel;


<div>
    <div>
        <img id="combatTypeImage" src="@Model.PathToImage" alt="Combat Type Image" style="max-width:300px; max-height:300px" />
    </div>
    <h2>Combat type: @Model.Type</h2>
    <p>Start Date: @Model.StartDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
    <p>End Date: @Model.StartDate.ToString("yyyy-MM-dd HH:mm:ss")</p>
</div>
