@using KnightTournament.ViewModels;
@model LocationDetailsViewModel;

@{
    var creatingError = ViewBag.LocationAddingError;
}

<form method="post" asp-action="Create">
    <div class="form-group">
        <label asp-for="Location_Country">country</label>
        <input asp-for="Location_Country" class="form-control" placeholder="Enter country">
    </div><br>
    <div class="form-group">
        <label asp-for="Location_City">City</label>
        <input asp-for="Location_City" class="form-control" placeholder="Enter City">
    </div><br>
    <div class="form-group">
        <label asp-for="Location_Place">Place</label>
        <input asp-for="Location_Place" class="form-control" placeholder="Place">
    </div><br>
    <div class="form-group">
        <label asp-for="Location_ImgUri">URL</label>
        <input asp-for="Location_ImgUri" class="form-control" placeholder="Img">
    </div><br>
    <br/>
    <p class="text-danger">@creatingError</p>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>