@using KnightTournament.ViewModels;
@model RoundDetailsViewModel;

<form method="post" asp-action="Create" asp-controller="Round">
    <div class="form-group">
        <label asp-for="Round_Name">Title</label>
        <input asp-for="Round_Name" class="form-control" placeholder="Enter title">
    </div><br>
    <div class="form-group">
        <label asp-for="Round_Description">Description</label>
        <input asp-for="Round_Description" class="form-control" placeholder="Description">
    </div><br>
    <div class="form-group">
        <label asp-for="Round_StartDate">Start Date</label> 
        <input asp-for="Round_StartDate" class="form-control" placeholder="Start Date">
    </div><br>
    <div class="form-group">
        <label asp-for="Round_EndDate">End Date</label>
        <input asp-for="Round_EndDate" class="form-control" placeholder="End Date">
    </div><br>
    @if (Model.ErrorMessage is not null)
    {
        <p>@Model.ErrorMessage</p>
        <br>
    }
    <input asp-for="Round_TournamentId" type="hidden" value="@Model.Round_TournamentId" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>